{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<form method="post">
    <div class="form-group">
<br><br><br>
        <h2 style="padding-left: 200px"><b>Login</b></h2>

        <div align="left" style="padding-left: 220px">


            <br>


        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email address"
            style="width: 300px;text-align: left"
            required
        />

            <label for="password">Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
            style="width: 300px;text-align: left"
            required
        />


            <br>
            <button class="btn btn-dark btn-lg">Login</button>

        </div>


    </div>
</form>


{% endblock %}